$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  40: $spacer * 2.5,
  50: $spacer * 3.125,
  67: $spacer * 4.188,
  96: $spacer * 6,
  103: $spacer * 6.438,
  165: $spacer * 10.313,
  180: $spacer * 11.25,
  190: $spacer * 11.875,
  289: $spacer * 18.063,
) !default;

$position-values: (
  0: 0,
  50: $spacer * 3.125,
);

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 4.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
