* {
  font-family: "Epilogue", sans-serif;
}

body {
  width: 100%;
  background-color: #faf8f6 !important;
}

.section-first-p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #49566d;
}

.text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 63px;
  width: max-content;
  font-size: 48px;
  line-height: 56px;
}

.text-right p {
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
}

.text-right span {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #49566d;
}

.button-top {
  background: #faf8f6;
  color: #172339;
  border-width: 1.5px;
  border-color: #172339;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  border-radius: 6px;
  cursor: pointer;
}

.button-top:hover {
  background-color: #172339;
  color: #faf8f6;
}

.button {
  background: #172339;
  color: #faf8f6;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.16px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  color: FAF8F6;
  background: linear-gradient(
    165deg,
    rgba(160, 96, 255, 1) 0%,
    rgba(203, 48, 227, 1) 50%,
    rgba(255, 168, 78, 1) 100%
  );
  border-style: none;
}

.heading-l {
  color: #faf8f6;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin: 0;
}

.text-quote {
  color: #f3ede7;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.1px;
}

.text-jeremy-p {
  color: #faf8f6;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.text-jeremy-span {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #f3ede7;
}

.footer-text {
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.08px;
  color: #49566d;
  margin: 0;
}

.media-icons svg {
  cursor: pointer;
}

.media-icons svg:hover {
  filter: invert(50%);
}

@media (max-width: 1199px) {
  .text-right {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    margin-left: 0px;
    gap: 150px;
  }

  .img-fluid-lg {
    max-height: 600px;
    height: auto;
  }
}

@media (max-width: 992px) {
  .img-fluid-lg {
    max-height: 482px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .img-fluid-lg {
    max-height: 600px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .image-phone {
    background-image: url("./assets/tablet-image.png");
  }

  .text-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 56px;
    gap: 30px;
  }

  .section-first-p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
  }

  .heading-l {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.42px;
  }

  .text-quote {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
  }

  .hide-svg {
    width: 197px;
    height: 197px;
  }
}

@media (max-width: 576px) {
  .button-top {
    width: 182px;
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
  }
}
